# Special configuration file for the Nim project

gc:orc

define:useStdoutAsStdmsg
define:nimsuggest
define:nimcore

# die when nimsuggest uses more than 4GB:
@if cpu32:
  define:"nimMaxHeap=2000"
@else:
  define:"nimMaxHeap=4000"
@end

@if windows and gcc:
  # use an 8MB stack to prevent overflows
  passL: "-Wl,--stack,8388608"
@end

--path:"$config/.."
--threads:on
