name: Dispatch slash commands

on:
  issue_comment:
    types:
      - created

jobs:
  dispatch_pr:
    if: github.event.issue.pull_request
    name: Dispatch on Pull Request comments
    runs-on: ubuntu-latest
    steps:
      - id: token
        uses: tibdex/github-app-token@v2
        with:
          app_id: ${{ secrets.CHORE_APP_ID }}
          private_key: ${{ secrets.CHORE_APP_KEY }}

      - uses: peter-evans/slash-command-dispatch@v4
        with:
          token: ${{ steps.token.outputs.token }}
          reaction-token: ${{ steps.token.outputs.token }}
          commands: |
            merge
            generate-changelog
          issue-type: pull-request
          permission: write
